@using Animal_Assignment3.Controllers
@*

    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
@{
     ViewData["Address"]= "Toronto";
}

<h1>Contact Us</h1>

<h2>@ViewData["Address"]</h2>
<h3>+1234567890</h3>